<div id="tab-1" className="tab-content current">
  <div
    className="grid gap-30 grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2"
  >
    <div className="relative">
      <a href="#" className="block">
        <img
          src="assets/img/portfolio/portfolio1.jpg"
          className="mb-25 rounded-sm md:rounded-md lg:rounded-lg"
          alt="portfolio-image"
        />
      </a>
      <h3
        className="font-bold text-18px md:text-20px lg:text-22px mb-10 lg:mb-12"
      >
        <a
          href="#"
          className="inline-block text-black-color hover:text-primary-color ease-in duration-300"
        >
          Task Management Software
        </a>
      </h3>
      <p className="text-13px md:text-15px lg:text-16px text-optional-color">
        Design, Development
      </p>
    </div>
    <div className="relative">
      <a href="#" className="block">
        <img
          src="assets/img/portfolio/portfolio2.jpg"
          className="mb-25 rounded-sm md:rounded-md lg:rounded-lg"
          alt="portfolio-image"
        />
      </a>
      <h3
        className="font-bold text-18px md:text-20px lg:text-22px mb-10 lg:mb-12"
      >
        <a
          href="#"
          className="inline-block text-black-color hover:text-primary-color ease-in duration-300"
        >
          Dashboard Software Landing
        </a>
      </h3>
      <p className="text-13px md:text-15px lg:text-16px text-optional-color">
        App, Development
      </p>
    </div>
  </div>
  <div
    className="grid mt-30 gap-30 grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3"
  >
    <div className="relative">
      <a href="#" className="block">
        <img
          src="assets/img/portfolio/portfolio3.jpg"
          className="mb-25 rounded-sm md:rounded-md lg:rounded-lg"
          alt="portfolio-image"
        />
      </a>
      <h3
        className="font-bold text-18px md:text-20px lg:text-22px mb-10 lg:mb-12"
      >
        <a
          href="#"
          className="inline-block text-black-color hover:text-primary-color ease-in duration-300"
        >
          Dashboard Design
        </a>
      </h3>
      <p className="text-13px md:text-15px lg:text-16px text-optional-color">
        Design, Development
      </p>
    </div>
    <div className="relative">
      <a href="#" className="block">
        <img
          src="assets/img/portfolio/portfolio4.jpg"
          className="mb-25 rounded-sm md:rounded-md lg:rounded-lg"
          alt="portfolio-image"
        />
      </a>
      <h3
        className="font-bold text-18px md:text-20px lg:text-22px mb-10 lg:mb-12"
      >
        <a
          href="#"
          className="inline-block text-black-color hover:text-primary-color ease-in duration-300"
        >
          Project Management Software
        </a>
      </h3>
      <p className="text-13px md:text-15px lg:text-16px text-optional-color">
        Design, Software
      </p>
    </div>
    <div className="relative">
      <a href="#" className="block">
        <img
          src="assets/img/portfolio/portfolio5.jpg"
          className="mb-25 rounded-sm md:rounded-md lg:rounded-lg"
          alt="portfolio-image"
        />
      </a>
      <h3
        className="font-bold text-18px md:text-20px lg:text-22px mb-10 lg:mb-12"
      >
        <a
          href="#"
          className="inline-block text-black-color hover:text-primary-color ease-in duration-300"
        >
          Mobile App Development
        </a>
      </h3>
      <p className="text-13px md:text-15px lg:text-16px text-optional-color">
        Design, App
      </p>
    </div>
    <div className="relative">
      <a href="#" className="block">
        <img
          src="assets/img/portfolio/portfolio6.jpg"
          className="mb-25 rounded-sm md:rounded-md lg:rounded-lg"
          alt="portfolio-image"
        />
      </a>
      <h3
        className="font-bold text-18px md:text-20px lg:text-22px mb-10 lg:mb-12"
      >
        <a
          href="#"
          className="inline-block text-black-color hover:text-primary-color ease-in duration-300"
        >
          Task Management App
        </a>
      </h3>
      <p className="text-13px md:text-15px lg:text-16px text-optional-color">
        Design, Development
      </p>
    </div>
    <div className="relative">
      <a href="#" className="block">
        <img
          src="assets/img/portfolio/portfolio7.jpg"
          className="mb-25 rounded-sm md:rounded-md lg:rounded-lg"
          alt="portfolio-image"
        />
      </a>
      <h3
        className="font-bold text-18px md:text-20px lg:text-22px mb-10 lg:mb-12"
      >
        <a
          href="#"
          className="inline-block text-black-color hover:text-primary-color ease-in duration-300"
        >
          Product Design
        </a>
      </h3>
      <p className="text-13px md:text-15px lg:text-16px text-optional-color">
        Design, Software
      </p>
    </div>
    <div className="relative">
      <a href="#" className="block">
        <img
          src="assets/img/portfolio/portfolio8.jpg"
          className="mb-25 rounded-sm md:rounded-md lg:rounded-lg"
          alt="portfolio-image"
        />
      </a>
      <h3
        className="font-bold text-18px md:text-20px lg:text-22px mb-10 lg:mb-12"
      >
        <a
          href="#"
          className="inline-block text-black-color hover:text-primary-color ease-in duration-300"
        >
          Work Flow App
        </a>
      </h3>
      <p className="text-13px md:text-15px lg:text-16px text-optional-color">
        Design, App
      </p>
    </div>
  </div>
</div>
<div id="tab-2" className="tab-content">
  <div
    className="grid mt-30 gap-30 grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3"
  >
    <div className="relative">
      <a href="#" className="block">
        <img
          src="assets/img/portfolio/portfolio3.jpg"
          className="mb-25 rounded-sm md:rounded-md lg:rounded-lg"
          alt="portfolio-image"
        />
      </a>
      <h3
        className="font-bold text-18px md:text-20px lg:text-22px mb-10 lg:mb-12"
      >
        <a
          href="#"
          className="inline-block text-black-color hover:text-primary-color ease-in duration-300"
        >
          Dashboard Design
        </a>
      </h3>
      <p className="text-13px md:text-15px lg:text-16px text-optional-color">
        Design, Development
      </p>
    </div>
    <div className="relative">
      <a href="#" className="block">
        <img
          src="assets/img/portfolio/portfolio4.jpg"
          className="mb-25 rounded-sm md:rounded-md lg:rounded-lg"
          alt="portfolio-image"
        />
      </a>
      <h3
        className="font-bold text-18px md:text-20px lg:text-22px mb-10 lg:mb-12"
      >
        <a
          href="#"
          className="inline-block text-black-color hover:text-primary-color ease-in duration-300"
        >
          Project Management Software
        </a>
      </h3>
      <p className="text-13px md:text-15px lg:text-16px text-optional-color">
        Design, Software
      </p>
    </div>
    <div className="relative">
      <a href="#" className="block">
        <img
          src="assets/img/portfolio/portfolio5.jpg"
          className="mb-25 rounded-sm md:rounded-md lg:rounded-lg"
          alt="portfolio-image"
        />
      </a>
      <h3
        className="font-bold text-18px md:text-20px lg:text-22px mb-10 lg:mb-12"
      >
        <a
          href="#"
          className="inline-block text-black-color hover:text-primary-color ease-in duration-300"
        >
          Mobile App Development
        </a>
      </h3>
      <p className="text-13px md:text-15px lg:text-16px text-optional-color">
        Design, App
      </p>
    </div>
    <div className="relative">
      <a href="#" className="block">
        <img
          src="assets/img/portfolio/portfolio6.jpg"
          className="mb-25 rounded-sm md:rounded-md lg:rounded-lg"
          alt="portfolio-image"
        />
      </a>
      <h3
        className="font-bold text-18px md:text-20px lg:text-22px mb-10 lg:mb-12"
      >
        <a
          href="#"
          className="inline-block text-black-color hover:text-primary-color ease-in duration-300"
        >
          Task Management App
        </a>
      </h3>
      <p className="text-13px md:text-15px lg:text-16px text-optional-color">
        Design, Development
      </p>
    </div>
    <div className="relative">
      <a href="#" className="block">
        <img
          src="assets/img/portfolio/portfolio7.jpg"
          className="mb-25 rounded-sm md:rounded-md lg:rounded-lg"
          alt="portfolio-image"
        />
      </a>
      <h3
        className="font-bold text-18px md:text-20px lg:text-22px mb-10 lg:mb-12"
      >
        <a
          href="#"
          className="inline-block text-black-color hover:text-primary-color ease-in duration-300"
        >
          Product Design
        </a>
      </h3>
      <p className="text-13px md:text-15px lg:text-16px text-optional-color">
        Design, Software
      </p>
    </div>
    <div className="relative">
      <a href="#" className="block">
        <img
          src="assets/img/portfolio/portfolio8.jpg"
          className="mb-25 rounded-sm md:rounded-md lg:rounded-lg"
          alt="portfolio-image"
        />
      </a>
      <h3
        className="font-bold text-18px md:text-20px lg:text-22px mb-10 lg:mb-12"
      >
        <a
          href="#"
          className="inline-block text-black-color hover:text-primary-color ease-in duration-300"
        >
          Work Flow App
        </a>
      </h3>
      <p className="text-13px md:text-15px lg:text-16px text-optional-color">
        Design, App
      </p>
    </div>
  </div>
</div>
<div id="tab-3" className="tab-content">
  <div
    className="grid mt-30 gap-30 grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3"
  >
    <div className="relative">
      <a href="#" className="block">
        <img
          src="assets/img/portfolio/portfolio4.jpg"
          className="mb-25 rounded-sm md:rounded-md lg:rounded-lg"
          alt="portfolio-image"
        />
      </a>
      <h3
        className="font-bold text-18px md:text-20px lg:text-22px mb-10 lg:mb-12"
      >
        <a
          href="#"
          className="inline-block text-black-color hover:text-primary-color ease-in duration-300"
        >
          Project Management Software
        </a>
      </h3>
      <p className="text-13px md:text-15px lg:text-16px text-optional-color">
        Design, Software
      </p>
    </div>
    <div className="relative">
      <a href="#" className="block">
        <img
          src="assets/img/portfolio/portfolio5.jpg"
          className="mb-25 rounded-sm md:rounded-md lg:rounded-lg"
          alt="portfolio-image"
        />
      </a>
      <h3
        className="font-bold text-18px md:text-20px lg:text-22px mb-10 lg:mb-12"
      >
        <a
          href="#"
          className="inline-block text-black-color hover:text-primary-color ease-in duration-300"
        >
          Mobile App Development
        </a>
      </h3>
      <p className="text-13px md:text-15px lg:text-16px text-optional-color">
        Design, App
      </p>
    </div>
    <div className="relative">
      <a href="#" className="block">
        <img
          src="assets/img/portfolio/portfolio6.jpg"
          className="mb-25 rounded-sm md:rounded-md lg:rounded-lg"
          alt="portfolio-image"
        />
      </a>
      <h3
        className="font-bold text-18px md:text-20px lg:text-22px mb-10 lg:mb-12"
      >
        <a
          href="#"
          className="inline-block text-black-color hover:text-primary-color ease-in duration-300"
        >
          Task Management App
        </a>
      </h3>
      <p className="text-13px md:text-15px lg:text-16px text-optional-color">
        Design, Development
      </p>
    </div>
    <div className="relative">
      <a href="#" className="block">
        <img
          src="assets/img/portfolio/portfolio7.jpg"
          className="mb-25 rounded-sm md:rounded-md lg:rounded-lg"
          alt="portfolio-image"
        />
      </a>
      <h3
        className="font-bold text-18px md:text-20px lg:text-22px mb-10 lg:mb-12"
      >
        <a
          href="#"
          className="inline-block text-black-color hover:text-primary-color ease-in duration-300"
        >
          Product Design
        </a>
      </h3>
      <p className="text-13px md:text-15px lg:text-16px text-optional-color">
        Design, Software
      </p>
    </div>
    <div className="relative">
      <a href="#" className="block">
        <img
          src="assets/img/portfolio/portfolio8.jpg"
          className="mb-25 rounded-sm md:rounded-md lg:rounded-lg"
          alt="portfolio-image"
        />
      </a>
      <h3
        className="font-bold text-18px md:text-20px lg:text-22px mb-10 lg:mb-12"
      >
        <a
          href="#"
          className="inline-block text-black-color hover:text-primary-color ease-in duration-300"
        >
          Work Flow App
        </a>
      </h3>
      <p className="text-13px md:text-15px lg:text-16px text-optional-color">
        Design, App
      </p>
    </div>
  </div>
</div>
<div id="tab-4" className="tab-content">
  <div
    className="grid mt-30 gap-30 grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3"
  >
    <div className="relative">
      <a href="#" className="block">
        <img
          src="assets/img/portfolio/portfolio5.jpg"
          className="mb-25 rounded-sm md:rounded-md lg:rounded-lg"
          alt="portfolio-image"
        />
      </a>
      <h3
        className="font-bold text-18px md:text-20px lg:text-22px mb-10 lg:mb-12"
      >
        <a
          href="#"
          className="inline-block text-black-color hover:text-primary-color ease-in duration-300"
        >
          Mobile App Development
        </a>
      </h3>
      <p className="text-13px md:text-15px lg:text-16px text-optional-color">
        Design, App
      </p>
    </div>
    <div className="relative">
      <a href="#" className="block">
        <img
          src="assets/img/portfolio/portfolio6.jpg"
          className="mb-25 rounded-sm md:rounded-md lg:rounded-lg"
          alt="portfolio-image"
        />
      </a>
      <h3
        className="font-bold text-18px md:text-20px lg:text-22px mb-10 lg:mb-12"
      >
        <a
          href="#"
          className="inline-block text-black-color hover:text-primary-color ease-in duration-300"
        >
          Task Management App
        </a>
      </h3>
      <p className="text-13px md:text-15px lg:text-16px text-optional-color">
        Design, Development
      </p>
    </div>
    <div className="relative">
      <a href="#" className="block">
        <img
          src="assets/img/portfolio/portfolio7.jpg"
          className="mb-25 rounded-sm md:rounded-md lg:rounded-lg"
          alt="portfolio-image"
        />
      </a>
      <h3
        className="font-bold text-18px md:text-20px lg:text-22px mb-10 lg:mb-12"
      >
        <a
          href="#"
          className="inline-block text-black-color hover:text-primary-color ease-in duration-300"
        >
          Product Design
        </a>
      </h3>
      <p className="text-13px md:text-15px lg:text-16px text-optional-color">
        Design, Software
      </p>
    </div>
  </div>
</div>
<div id="tab-5" className="tab-content">
  <div
    className="grid gap-30 grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2"
  >
    <div className="relative">
      <a href="#" className="block">
        <img
          src="assets/img/portfolio/portfolio2.jpg"
          className="mb-25 rounded-sm md:rounded-md lg:rounded-lg"
          alt="portfolio-image"
        />
      </a>
      <h3
        className="font-bold text-18px md:text-20px lg:text-22px mb-10 lg:mb-12"
      >
        <a
          href="#"
          className="inline-block text-black-color hover:text-primary-color ease-in duration-300"
        >
          Dashboard Software Landing
        </a>
      </h3>
      <p className="text-13px md:text-15px lg:text-16px text-optional-color">
        App, Development
      </p>
    </div>
    <div className="relative">
      <a href="#" className="block">
        <img
          src="assets/img/portfolio/portfolio1.jpg"
          className="mb-25 rounded-sm md:rounded-md lg:rounded-lg"
          alt="portfolio-image"
        />
      </a>
      <h3
        className="font-bold text-18px md:text-20px lg:text-22px mb-10 lg:mb-12"
      >
        <a
          href="#"
          className="inline-block text-black-color hover:text-primary-color ease-in duration-300"
        >
          Task Management Software
        </a>
      </h3>
      <p className="text-13px md:text-15px lg:text-16px text-optional-color">
        Design, Development
      </p>
    </div>
  </div>
  <div
    className="grid mt-30 gap-30 grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3"
  >
    <div className="relative">
      <a href="#" className="block">
        <img
          src="assets/img/portfolio/portfolio3.jpg"
          className="mb-25 rounded-sm md:rounded-md lg:rounded-lg"
          alt="portfolio-image"
        />
      </a>
      <h3
        className="font-bold text-18px md:text-20px lg:text-22px mb-10 lg:mb-12"
      >
        <a
          href="#"
          className="inline-block text-black-color hover:text-primary-color ease-in duration-300"
        >
          Dashboard Design
        </a>
      </h3>
      <p className="text-13px md:text-15px lg:text-16px text-optional-color">
        Design, Development
      </p>
    </div>
    <div className="relative">
      <a href="#" className="block">
        <img
          src="assets/img/portfolio/portfolio4.jpg"
          className="mb-25 rounded-sm md:rounded-md lg:rounded-lg"
          alt="portfolio-image"
        />
      </a>
      <h3
        className="font-bold text-18px md:text-20px lg:text-22px mb-10 lg:mb-12"
      >
        <a
          href="#"
          className="inline-block text-black-color hover:text-primary-color ease-in duration-300"
        >
          Project Management Software
        </a>
      </h3>
      <p className="text-13px md:text-15px lg:text-16px text-optional-color">
        Design, Software
      </p>
    </div>
    <div className="relative">
      <a href="#" className="block">
        <img
          src="assets/img/portfolio/portfolio5.jpg"
          className="mb-25 rounded-sm md:rounded-md lg:rounded-lg"
          alt="portfolio-image"
        />
      </a>
      <h3
        className="font-bold text-18px md:text-20px lg:text-22px mb-10 lg:mb-12"
      >
        <a
          href="#"
          className="inline-block text-black-color hover:text-primary-color ease-in duration-300"
        >
          Mobile App Development
        </a>
      </h3>
      <p className="text-13px md:text-15px lg:text-16px text-optional-color">
        Design, App
      </p>
    </div>
  </div>
</div>
<div id="tab-6" className="tab-content">
  <div
    className="grid mt-30 gap-30 grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3"
  >
    <div className="relative">
      <a href="#" className="block">
        <img
          src="assets/img/portfolio/portfolio6.jpg"
          className="mb-25 rounded-sm md:rounded-md lg:rounded-lg"
          alt="portfolio-image"
        />
      </a>
      <h3
        className="font-bold text-18px md:text-20px lg:text-22px mb-10 lg:mb-12"
      >
        <a
          href="#"
          className="inline-block text-black-color hover:text-primary-color ease-in duration-300"
        >
          Task Management App
        </a>
      </h3>
      <p className="text-13px md:text-15px lg:text-16px text-optional-color">
        Design, Development
      </p>
    </div>
    <div className="relative">
      <a href="#" className="block">
        <img
          src="assets/img/portfolio/portfolio7.jpg"
          className="mb-25 rounded-sm md:rounded-md lg:rounded-lg"
          alt="portfolio-image"
        />
      </a>
      <h3
        className="font-bold text-18px md:text-20px lg:text-22px mb-10 lg:mb-12"
      >
        <a
          href="#"
          className="inline-block text-black-color hover:text-primary-color ease-in duration-300"
        >
          Product Design
        </a>
      </h3>
      <p className="text-13px md:text-15px lg:text-16px text-optional-color">
        Design, Software
      </p>
    </div>
    <div className="relative">
      <a href="#" className="block">
        <img
          src="assets/img/portfolio/portfolio8.jpg"
          className="mb-25 rounded-sm md:rounded-md lg:rounded-lg"
          alt="portfolio-image"
        />
      </a>
      <h3
        className="font-bold text-18px md:text-20px lg:text-22px mb-10 lg:mb-12"
      >
        <a
          href="#"
          className="inline-block text-black-color hover:text-primary-color ease-in duration-300"
        >
          Work Flow App
        </a>
      </h3>
      <p className="text-13px md:text-15px lg:text-16px text-optional-color">
        Design, App
      </p>
    </div>
    <div className="relative">
      <a href="#" className="block">
        <img
          src="assets/img/portfolio/portfolio3.jpg"
          className="mb-25 rounded-sm md:rounded-md lg:rounded-lg"
          alt="portfolio-image"
        />
      </a>
      <h3
        className="font-bold text-18px md:text-20px lg:text-22px mb-10 lg:mb-12"
      >
        <a
          href="#"
          className="inline-block text-black-color hover:text-primary-color ease-in duration-300"
        >
          Dashboard Design
        </a>
      </h3>
      <p className="text-13px md:text-15px lg:text-16px text-optional-color">
        Design, Development
      </p>
    </div>
    <div className="relative">
      <a href="#" className="block">
        <img
          src="assets/img/portfolio/portfolio4.jpg"
          className="mb-25 rounded-sm md:rounded-md lg:rounded-lg"
          alt="portfolio-image"
        />
      </a>
      <h3
        className="font-bold text-18px md:text-20px lg:text-22px mb-10 lg:mb-12"
      >
        <a
          href="#"
          className="inline-block text-black-color hover:text-primary-color ease-in duration-300"
        >
          Project Management Software
        </a>
      </h3>
      <p className="text-13px md:text-15px lg:text-16px text-optional-color">
        Design, Software
      </p>
    </div>
    <div className="relative">
      <a href="#" className="block">
        <img
          src="assets/img/portfolio/portfolio5.jpg"
          className="mb-25 rounded-sm md:rounded-md lg:rounded-lg"
          alt="portfolio-image"
        />
      </a>
      <h3
        className="font-bold text-18px md:text-20px lg:text-22px mb-10 lg:mb-12"
      >
        <a
          href="#"
          className="inline-block text-black-color hover:text-primary-color ease-in duration-300"
        >
          Mobile App Development
        </a>
      </h3>
      <p className="text-13px md:text-15px lg:text-16px text-optional-color">
        Design, App
      </p>
    </div>
  </div>
</div>
