@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-home-white {
  background-color: #ffffff;
  background-image: url("assets/backgrounda.png");
  background-attachment: fixed;
  background-size: contain;
}

.bg-home-dark {
  background-color: #575757;
  background-image: url("assets/backgroundb.jpg");
  background-attachment: fixed;
  background-size: contain;
}

.animate__icon {
  -webkit-animation: slide-fwd-center 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-fwd-center 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.animate__menu {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.grid__layout {
  grid-template-columns: 0fr 1fr 0fr;
}

@media screen and (min-width: 1060px) {
  .grid__layout {
    display: grid;
    grid-template-columns: 3fr 9fr 1fr;
    grid-gap: 2.5rem;
  }
}
